# InfoViz WS1718

*Longevity in Munich*

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('sterbealter.csv')
df.head()

,INDIKATOR_GRUPPE,INDIKATOR_BEZEICHNUNG,INDIKATOR_AUSPRAEGUNG,INDIKATOR_WERT,BASISWERT_1,BASISWERT_2,BASISWERT_3,BASISWERT_4,BASISWERT_5,NAME_BASISWERT1,NAME_BASISWERT2,NAME_BASISWERT3,NAME_BASISWERT4,NAME_BASISWERT5,JAHR,GLIEDERUNG,NUMMER,NAME
0,Bevölkerung,Durchschnittliches Sterbealter,männlich-deutsch,"72,6",15242,210,NaN,NaN,NaN,Summe Sterbealter (männliche deutsche Einwohner),Anzahl gestorbene Einwohner (männliche deutsch...,NaN,NaN,NaN,2000,Stadtbezirk,18,18 Untergiesing - Harlaching
1,Bevölkerung,Durchschnittliches Sterbealter,weiblich-gesamt,"80,2",23023,287,NaN,NaN,NaN,Summe Sterbealter (Frauen),Anzahl gestorbene Einwohnerinnen,NaN,NaN,NaN,2000,Stadtbezirk,12,12 Schwabing - Freimann
2,Bevölkerung,Durchschnittliches Sterbealter,männlich-gesamt,"68,2",10229,150,NaN,NaN,NaN,Summe Sterbealter (Männer),Anzahl gestorbene Einwohner (männlich),NaN,NaN,NaN,2000,Stadtbezirk,15,15 Trudering - Riem
3,Bevölkerung,Durchschnittliches Sterbealter,männlich-gesamt,"70,2",12431,177,NaN,NaN,NaN,Summe Sterbealter (Männer),Anzahl gestorbene Einwohner (männlich),NaN,NaN,NaN,2000,Stadtbezirk,22,22 Aubing - Lochhausen - Langwied
4,Bevölkerung,Durchschnittliches Sterbealter,männlich-deutsch,"70,6",11719,166,NaN,NaN,NaN,Summe Sterbealter (männliche deutsche Einwohner),Anzahl gestorbene Einwohner (männliche deutsch...,NaN,NaN,NaN,2000,Stadtbezirk,22,22 Aubing - Lochhausen - Langwied

In [2]:
# df_cleaned_decimals = df_selected.applymap(lambda x: str(x).replace(",", "."))
# df_cleaned_decimals

In [3]:
def nummer2mapid(nummer):
    return {
        '1': 12,
        '2': 9,
        '3': 11,
        '4': 21,
        '5': 14,
        '6': 0,
        '7': 27,
        '8': 8,
        '9': 22, #18
        '10': 6,
        '11': 10,
        '12': 20,
        '13': 13,
        '14': 15,
        '15': 1,
        '16': 16,
        '17': 25,
        '18': 24,
        '19': 26, #28, 17
        '20': 2,
        '21': 23, #19
        '22': 3,
        '23': 4,
        '24': 5,
        '25': 7,
        '#100': 0
    }[nummer]

In [4]:
df['mapId'] = df['NUMMER'].apply(nummer2mapid)
df.head()

,INDIKATOR_GRUPPE,INDIKATOR_BEZEICHNUNG,INDIKATOR_AUSPRAEGUNG,INDIKATOR_WERT,BASISWERT_1,BASISWERT_2,BASISWERT_3,BASISWERT_4,BASISWERT_5,NAME_BASISWERT1,NAME_BASISWERT2,NAME_BASISWERT3,NAME_BASISWERT4,NAME_BASISWERT5,JAHR,GLIEDERUNG,NUMMER,NAME,mapId
0,Bevölkerung,Durchschnittliches Sterbealter,männlich-deutsch,"72,6",15242,210,NaN,NaN,NaN,Summe Sterbealter (männliche deutsche Einwohner),Anzahl gestorbene Einwohner (männliche deutsch...,NaN,NaN,NaN,2000,Stadtbezirk,18,18 Untergiesing - Harlaching,24
1,Bevölkerung,Durchschnittliches Sterbealter,weiblich-gesamt,"80,2",23023,287,NaN,NaN,NaN,Summe Sterbealter (Frauen),Anzahl gestorbene Einwohnerinnen,NaN,NaN,NaN,2000,Stadtbezirk,12,12 Schwabing - Freimann,20
2,Bevölkerung,Durchschnittliches Sterbealter,männlich-gesamt,"68,2",10229,150,NaN,NaN,NaN,Summe Sterbealter (Männer),Anzahl gestorbene Einwohner (männlich),NaN,NaN,NaN,2000,Stadtbezirk,15,15 Trudering - Riem,1
3,Bevölkerung,Durchschnittliches Sterbealter,männlich-gesamt,"70,2",12431,177,NaN,NaN,NaN,Summe Sterbealter (Männer),Anzahl gestorbene Einwohner (männlich),NaN,NaN,NaN,2000,Stadtbezirk,22,22 Aubing - Lochhausen - Langwied,3
4,Bevölkerung,Durchschnittliches Sterbealter,männlich-deutsch,"70,6",11719,166,NaN,NaN,NaN,Summe Sterbealter (männliche deutsche Einwohner),Anzahl gestorbene Einwohner (männliche deutsch...,NaN,NaN,NaN,2000,Stadtbezirk,22,22 Aubing - Lochhausen - Langwied,3

In [5]:
df_selected = df[['mapId', 'NAME', 'JAHR', 'INDIKATOR_AUSPRAEGUNG', 'INDIKATOR_WERT', 'GLIEDERUNG']]
df_selected.head()

,mapId,NAME,JAHR,INDIKATOR_AUSPRAEGUNG,INDIKATOR_WERT,GLIEDERUNG
0,24,18 Untergiesing - Harlaching,2000,männlich-deutsch,"72,6",Stadtbezirk
1,20,12 Schwabing - Freimann,2000,weiblich-gesamt,"80,2",Stadtbezirk
2,1,15 Trudering - Riem,2000,männlich-gesamt,"68,2",Stadtbezirk
3,3,22 Aubing - Lochhausen - Langwied,2000,männlich-gesamt,"70,2",Stadtbezirk
4,3,22 Aubing - Lochhausen - Langwied,2000,männlich-deutsch,"70,6",Stadtbezirk

In [6]:
missing22to18 = []
missing26to28 = []
missing26to17 = []
missing23to19 = []
for index, row in df_selected.iterrows():
    if row['mapId'] == 22:
        missing22to18.append(row)
    elif row['mapId'] == 26:
        missing26to28.append(row)
        missing26to17.append(row)
    elif row['mapId'] == 23:
        missing23to19.append(row)

df18 = pd.DataFrame(missing22to18)
df18['mapId'] = 18

df28 = pd.DataFrame(missing26to28)
df28['mapId'] = 28

df17 = pd.DataFrame(missing26to17)
df17['mapId'] = 17

df19 = pd.DataFrame(missing23to19)
df19['mapId'] = 19

df19.head()

,mapId,NAME,JAHR,INDIKATOR_AUSPRAEGUNG,INDIKATOR_WERT,GLIEDERUNG
6,19,21 Pasing - Obermenzing,2000,männlich-gesamt,"72,1",Stadtbezirk
18,19,21 Pasing - Obermenzing,2000,weiblich-deutsch,"80,5",Stadtbezirk
22,19,21 Pasing - Obermenzing,2000,weiblich-ausländisch,"55,5",Stadtbezirk
49,19,21 Pasing - Obermenzing,2000,weiblich-gesamt,80,Stadtbezirk
70,19,21 Pasing - Obermenzing,2000,männlich-deutsch,"73,1",Stadtbezirk

In [7]:
frames = [df_selected, df18, df28, df17, df19]
result = pd.concat(frames)
result.head()

,mapId,NAME,JAHR,INDIKATOR_AUSPRAEGUNG,INDIKATOR_WERT,GLIEDERUNG
0,24,18 Untergiesing - Harlaching,2000,männlich-deutsch,"72,6",Stadtbezirk
1,20,12 Schwabing - Freimann,2000,weiblich-gesamt,"80,2",Stadtbezirk
2,1,15 Trudering - Riem,2000,männlich-gesamt,"68,2",Stadtbezirk
3,3,22 Aubing - Lochhausen - Langwied,2000,männlich-gesamt,"70,2",Stadtbezirk
4,3,22 Aubing - Lochhausen - Langwied,2000,männlich-deutsch,"70,6",Stadtbezirk

In [8]:
districts_names = df_selected.sort_values(by=['NAME'])['NAME'].unique()
districts_names

array(['01 Altstadt - Lehel', '02 Ludwigsvorstadt - Isarvorstadt',
       '03 Maxvorstadt', '04 Schwabing - West', '05 Au - Haidhausen',
       '06 Sendling', '07 Sendling - Westpark', '08 Schwanthalerhöhe',
       '09 Neuhausen - Nymphenburg', '10 Moosach',
       '11 Milbertshofen - Am Hart', '12 Schwabing - Freimann',
       '13 Bogenhausen', '14 Berg am Laim', '15 Trudering - Riem',
       '16 Ramersdorf - Perlach', '17 Obergiesing - Fasangarten',
       '18 Untergiesing - Harlaching',
       '19 Thalkirchen - Obersendling - Forstenried - Fürstenried - Solln',
       '20 Hadern', '21 Pasing - Obermenzing',
       '22 Aubing - Lochhausen - Langwied', '23 Allach - Untermenzing',
       '24 Feldmoching - Hasenbergl', '25 Laim', 'Stadt München'], dtype=object)

In [10]:
result.to_csv('sterbealter_cleaned.csv', index=False, encoding='utf-8-sig', sep=';')